apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-app
  labels:
    app: blog-app
    scenario: "04"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blog-app
  template:
    metadata:
      labels:
        app: blog-app
    spec:
      containers:
      - name: blog
        image: vellankikoti/k8s-masterclass-config-app:v1.0
        ports:
        - containerPort: 5000
        volumeMounts:
        - name: config
          mountPath: /config
          readOnly: true
      volumes:
      - name: config
        configMap:
          # BROKEN: This ConfigMap doesn't exist!
          name: blog-config
